!!! Strict
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= @page_title
    
    %link{:href => "http://feeds.feedburner.com/toolmantim", :rel => "alternate", :title => "Recent articles", :type => "application/atom+xml"}/

    %link{:href => versioned_stylesheet('screen'), :media => "screen", :rel => "stylesheet", :type => "text/css"}/

    %link{:rel => "openid.server", :href => "http://www.myopenid.com/server"}/
    %link{:rel => "openid.delegate", :href => "http://toolmantim.myopenid.com"}/

  %body{:class => @body_class}
    #body-inner
      - unless @hide_skip_nav
        #top
          %p
            %a{:href => "#about"} Skip to navigation
  
      = yield

      #about
        %h1
          %a{:href => "/", :title => "Home"}
            %span
            toolmantim

        %p.intro
          I'm <strong>Tim Lucas</strong>, a web app designer and developer currently in Sydney&nbsp;Australia.

        %p.blurb
          I run the <strong>web&nbsp;application design and development</strong> company <a
          href="http://agencyrainford.com/">Agency&nbsp;Rainford</a>, <a
          href="http://www.slideshare.net/toolmantim/">present</a> on various
          technical topics, <a href="http://flickr.com/photos/toolmantim">snap the
          occasional photo</a>, <a href="http://twitter.com/toolmantim">tweet</a>
          my going-ons, share <a href="http://github.com/toolmantim">teh codes</a>
          and post other tid-bits to the&nbsp;<a
          href="http://tumble.toolmantim.com/">tumble</a>.

        %p.recent
          Most recently I published
          %a{:href => article_path(@articles.first)}= @articles.first.title
          == (#{@articles.first.published.strftime("%B %d, %Y")})

        %p.contact
          Shoot an email to <span class="email">t.lucas@#{thisdomain}</span> and <strong>say&nbsp;hello</strong>.
      
        
        %ul#navigation
          %li
            %a{:href => "/articles"} Articles &rarr;
          %li
            %a{:href => "/projects"} Projects &rarr;


      %p.quip
        Powered by
        %a{:href => "http://github.com/toolmantim/toolmantim"}= Quip.random

    - %w( jquery-1.2.6.min code_highlighter all ).each do |js|
      %script{:src => versioned_js(js), :type => "text/javascript"}