!!! Strict
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= @page_title
    
    %link{:rel => "alternate", :href => "http://feeds.feedburner.com/toolmantim", :title => "toolmantim.com articles", :type => "application/atom+xml"}/
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}/

    %link{:href => versioned_stylesheet('screen'), :media => "screen", :rel => "stylesheet", :type => "text/css"}/

    - if @show_open_id_delegate
      %link{:rel => "openid.server", :href => "http://www.myopenid.com/server"}/
      %link{:rel => "openid.delegate", :href => "http://toolmantim.myopenid.com"}/

  %body{:class => @body_class}
    #body-inner
      - unless @hide_skip_nav
        #top
          %p
            %a{:href => "#about"} Skip to navigation
  
      = yield

      - unless @hide_about
        = partial :site_header
        #about= partial :meta

      %p.quip
        Powered by
        %a{:href => "http://github.com/toolmantim/toolmantim", :title => "View source"}= Quip.random

    - %w( jquery-1.2.6.min code_highlighter all ).each do |js|
      %script{:src => versioned_js(js), :type => "text/javascript"}
