!!! Strict
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= @page_title
    
    %link{:href => "http://feeds.feedburner.com/toolmantim", :rel => "alternate", :title => "Recent articles", :type => "application/atom+xml"}/

    %link{:href => "/stylesheets/toolmantim.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 7]
      %link{:href => "/stylesheets/ie.css", :media => "screen", :rel => "stylesheet", :type => "text/css"}/

    %link{:rel => "openid.server", :href => "http://www.myopenid.com/server"}/
    %link{:rel => "openid.delegate", :href => "http://toolmantim.myopenid.com"}/

    

  %body{:class => @body_class}
    .content
      .header
        %h1
          %a{ :href => "/" }
            %img{ :src => "/images/logo.png", :height => "60", :alt => "toolmantim", :width => "228" }/
      = yield
      - unless @hide_fat_footer
        .fat-footer
          = partial :meta
      .footer
        .quip== Powered by #{Quip.random}

    - %w( jquery-1.2.6.min code_highlighter all ).each do |js|
      %script{:src => "/javascripts/#{js}.js", :type => "text/javascript"}
