!!! Strict
%html{"xml:lang" => "en", :lang => "en", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %title= @page_title
    
    %link{:rel => "alternate", :href => "http://feeds.feedburner.com/toolmantim", :title => "toolmantim.com articles", :type => "application/atom+xml"}/
    %link{:rel => "shortcut icon", :href => "/favicon.ico"}/

    %link{:href => versioned_stylesheet('screen'), :media => "screen", :rel => "stylesheet", :type => "text/css"}/

    /[if lte IE 7]
      %link{:href => versioned_stylesheet('ie7'), :media => "screen", :rel => "stylesheet", :type => "text/css"}/
    /[if lte IE 6]
      %link{:href => versioned_stylesheet('ie6'), :media => "screen", :rel => "stylesheet", :type => "text/css"}/
      %script{:src => "http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE7.js",  :type => "text/javascript"}

    - if @show_open_id_delegate
      %link{:rel => "openid.server", :href => "http://www.myopenid.com/server"}/
      %link{:rel => "openid.delegate", :href => "http://toolmantim.myopenid.com"}/
      

  %body{:class => @body_class}
    #body-inner
      - unless @hide_skip_nav
        #top
          %p
            %a{:href => "#about"} Skip to navigation
  
      = yield

      - unless @hide_about
        = partial :site_header
        #about= partial :meta

      %p.quip
        Powered by
        %a{:href => "http://github.com/toolmantim/toolmantim", :title => "View source"}= Quip.random

    - %w( jquery-1.2.6.min code_highlighter all ).each do |js|
      %script{:src => versioned_js(js), :type => "text/javascript"}

    %script{:type => "text/javascript"}
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    %script{:type => "text/javascript"}
      try {
      var pageTracker = _gat._getTracker("UA-196014-3");
      pageTracker._trackPageview();
      } catch(err) {}