-# title: Simplifying ticket sales on sydneyoperahouse.com
-# published: 2010-02-16
-# custom title size: 484x60

.intro
  :markdown
    A few things about Sydney Opera House’s ticket purchase process have bugged me for a while now. Normally I'd just grumble and troop on, but I've been using the Sydney Opera House’s site long enough that I'd like to point out a few simple design changes, ones that would make my life easier and greatly increase sales in the process.
  
:markdown
  [The Sydney Opera House](http://en.wikipedia.org/wiki/Sydney_Opera_House) is one of Australia's most famous cultural venues and host to over 450 musical and cultural performances per year. In 2007 locals [Frost Design](http://www.frostdesign.com.au/) were tasked with overhauling Sydney Opera House's brand and, along with the funky new brand, [a funky new website](http://www.sydneyoperahouse.com/).

  [![The current sydneyoperahouse.com.au website design](#{article_image_path(@article, "home.jpg")})](http://www.sydneyoperahouse.com/)

  For the most part [sydneyoperahouse.com](http://www.sydneyoperahouse.com/) is great; the home page gives generous real estate to the popular upcoming events, each event has its own permalinkable page with photographs and obligatory social networking Share Bar™, and the site allows you to purchase tickets to the multitude of seasonal and limited seat events. 
  
  Every time I buy tickets through the Opera House's site I keep seeing two major design problems which I'm sure would be hurting their sales. The first problem: obviousness, or lack thereof. It's really not clear from the event page how you can even buy tickets. The second problem: how tickets are sold for the 50% of the events which have a single performance. Let's tackle obviousness first because it applies to performances with a single date as well as those with 99 different dates and times.
  
  ## Obviousness

  After purchasing tickets to the [upcoming Massive Attack gig](http://www.sydneyoperahouse.com/whatson/massive_attack.aspx) in March at the Opera House I emailed a bunch of friends telling them to grab tickets. Through a combination of confusing copy and bad design (both of which I noticed when buying my tickets) one of my most techno-savvy friends didn't realise she could even purchase tickets.

  Glance at the following page, the same one my friend was looking at, and guess how you might go about buying tickets:

  ![The design of the event page](#{article_image_path(@article, "event.jpg")})

  You might notice the ticket buying information in the orange right hand column, but it's unclear what you should do and what action you need to take to buy tickets.

  If you haven't guessed I'll tell you: the little <strong>15</strong> on the calendar, that's what you have to click. Not exactly persuasive or obvious.

  So how do other sites persuade you to transact with them?
  
  ![Apple and Campaign Monitor's sites](#{article_image_path(@article, "apple-and-campaign-monitor.jpg")})
  
  How many less displays would Apple sell without the big green **Add to cart** button in the top right? And how many less signups would Campaign Monitor get without the big blue **Try it for free** button smack in the centre of the homepage? Apple and Campaign Monitor are clearly doing better in the persuasion stakes.
  
  Always Be Closing applies to online sales as much as it does to [real estate salesmen](http://www.youtube.com/watch?v=TROhlThs9qY).

  So how could we improve the Sydney Opera House event page to be clearer and more persuasive?
  
  1. The calendar, the most important element in that column, is lost in a sea of content above and below. It looks as if the Buy Tickets heading applies to that entire column. How bout moving Buy Tickets into its own right column section, separating it from the information below.
  2. The most important item in that column is the little 15 on the calendar, but it looks exactly the same as the two "GO" buttons.
  3. The month controls are distracting and unnecessary—there's only one date, let alone month!
  4. The promotional code seems unnecessary as well. It turns out that you can enter the promo code in the next step of the checkout process, so let's get rid of it and focus on funneling customers from this screen to the checkout process.
  
  So what would be a design that addressed these problems? Here's my take, sticking as close to the original design as possible:
  
  ![Redesign of ticket purchase section](#{article_image_path(@article, "orange-column-before-after.jpg")})

  This redesign puts the most important call to action (the calender) in the top right, and in its own section, helping to attract the customer's eye and focus their problem solving skills on that one square. The number 15 stands out on the calendar, and there's a clear instruction above as to how to proceed.
  
  Am incremental but significant improvment.
  
  ## One-night-only performances

  My second beef with the Sydney Opera House site is one-night-only performances. By my rough calculations at least fifty percent of the events being sold on Sydney Opera House's website have only a single performance. The problem? The interface for buying tickets is designed to handle an event with 99 different dates and times and does a horrible job of catering for the simple case of a single performance.
  
  If I'm buying tickets to an event that has only one performance why should I have to click the date on a calendar, and then choose the one time, and then finally hit a buy tickets button?
  
  If you had a product with only one option, what would be the easiest and most persuasive interface to allow people to purchase that item? A single big fat button—in this case a <strong>BUY TICKETS</strong> button!
  
  ![Ticket purchase button for one-night-only](#{article_image_path(@article, "event-button.jpg")})
  
  ## Define the most important scenario, and nail it
  
  It's easy to lose track of the core scenario, the one most important to your business and customers. This is [Don't Make Me Think](http://www.sensible.com/dmmt.html) and [Submit Now](http://www.amazon.com/Submit-Now-Designing-Persuasive-Sites/dp/0735711704) kinda stuff. 
  
  Sydney Opera House's most important scenario is browsing to and booking an event, one that could be a lot simpler and persuasive. Let's cross our fingers and hope that next time we book an event we can simply hit a big fat **buy tickets** button.